<% provide(:title, "Contact") %>
<% provide(:title2, " | Ruby on Rails Tutorial Sample App") %>
<h1>Contact</h1>
<p>
  Contact The Ruby on Rails Tutorial about the sample app at the
  <a href="">Contact Page</a>
</p>
